/* div.stands {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.standsLeft {
    height: 100%;
    width: 40%;
}

div.standsRight {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div.standsLeft1 {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.standsLeft2 {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    overflow-y: auto;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}



input.manageStand.newName {
    width: 40%;
    max-height: 40px;
    box-sizing: border-box;
    flex: 20%;
    padding-left: 10px;
}

input.manageStand.name {
    width: 80%;
    max-height: 40px;
    box-sizing: border-box;
    flex: 20%;
    padding-left: 10px;
}

textarea.manageStand.description {
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    width: 95%;
    height: auto;
    resize: none;
    box-sizing: border-box;
    flex: 25%;
}

div.changeStandParams {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.param-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-bottom: 2px solid var(--border-color);
}

.param-key {
    min-width: 220px;
    color: var(--text-secondary-color);
}


div.standsManageStandButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

button.standsDeleteButton {
    margin-left: auto;
}

div.standsNotes {
    box-sizing: border-box;
    overflow: auto;
    height: 70%;
    width: 100%;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

.hintBox {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    border: solid 4px var(--border-color);
    background-color: var(--main-background-color);
    border-radius: 12px;
}

.hintBox h3 {
    margin-top: 0;
}

ources .hintBox p {
    text-indent: 15px;
    text-align: justify;
} */

div.standsRightContainer {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

div.standsLeftContainer {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div.standsLeft1 {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* div.mainLeft2 {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    overflow-y: auto;
    } */

div.standsLeft2 {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    overflow-y: auto;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

div.standsRight1 {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.standsRight2 {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.standsStandParams {
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div.standsLeftBody {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

div.standsStandLayout {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: solid 4px var(--border-color);
    border-radius: 10px;
    overflow-y: auto;
}

div.standsStandLayout th,
div.standsStandLayout td,
div.standsStandLayout tr {
    box-sizing: border-box;
    border: solid 1px var(--border-color);
}


div.standsStandLayout li,
div.standsStandLayout ul,
div.standsStandLayout li {
    text-align: left;
}

table {
    font-size: medium;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word;
    overflow: auto;
}

div.standsComments {
    height: 100%;
    width: 35%;
    text-align: center;
}

textarea.standsStands {
    font-size: 18px;
    width: 95%;
    height: 70%;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
}

div.standsManageStandAllParams {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: 100%;
}

textarea.standsStandDescription {
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    margin-right: auto;
}

div.standsStandsParamsLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

div.standsStandsParamsRight {
    width: 100%;
    height: 100%;
    padding: 10px;
}

textarea.standsComments {
    font-size: 18px;
    width: 400px;
    height: 80px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;

}

textarea.standsComments:focus {
    border: solid 4px black;
}

input.standsStandsFilter {
    width: 40%;
}

.sendIcon {
    width: 35px;
    height: 40px;
}

.layoutRender {
    box-sizing: border-box;
}

.layoutRender table,
.layoutRender tr,
.layoutRender th,
.layoutRender td {
    border: solid 1px var(--border-color);
}