div.mainStands {
    /* background-color: aquamarine; */
    height: 100%;
    width: 30%;
    overflow: auto;
}

div.mainStandDescription {
    /* background-color: rgb(207, 252, 102); */
    height: 100%;
    width: 35%;
    text-align: center;
}

div.mainComments {
    /* background-color: rgb(31, 158, 190); */
    height: 100%;
    width: 35%;
    text-align: center;
}

textarea.mainStands {
    font-family: Arial;
    font-size: 18px;
    width: 95%;
    height: 70%;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
}

textarea.mainStands::-webkit-scrollbar, div.mainStands::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    margin: 40px;
    border-radius: 10px;
}

textarea.mainStands::-webkit-scrollbar-thumb, div.mainStands::-webkit-scrollbar-thumb {
    background-color: #afafaf;
}

div.mainCommentsHead {
    background-color: aqua;
    display: flex;
}

div.mainCommentsList {
    background-color: rgb(0, 174, 255);
    overflow: auto;
}

textarea.mainComments {
    font-family: Arial;
    font-size: 18px;
    width: 400px;
    height: 80px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
    
}

textarea.mainComments:focus {
    border: solid 4px black;
}

.sendIcon {
    width: 35px;
    height: 40px;
}