div.mainRightContainer {
    display: block;
    width: 100%;
}

div.mainLeftContainer {
    /* background-color: aquamarine; */
    height: 100%;
    width: 35%;
    overflow: auto;
}

div.mainStandDescription {
    /* background-color: rgb(207, 252, 102); */
    height: 10%;
    width: 65%;
    text-align: center;
}

div.mainStandLayout {
    /* background-color: rgb(207, 252, 102); */
    height: 70%;
    width: 90%;
    overflow-wrap: break-word;
    overflow: auto;
    text-align: center;
    /*  */
    padding: 5px;
    margin: 10px;
    border: solid 4px var(--border-color);
    border-radius: 10px;
    color: var(--text-main-color);
}

div.mainStandLayout span,
div.mainStandLayout li,
div.mainStandLayout th,
div.mainStandLayout tr {
    color: var(--text-main-color);
    box-sizing: border-box;
    border: solid 1px var(--border-color);
}


div.mainStandLayout ul,
div.mainStandLayout li {
    text-align: left;
}

table {
    font-size: medium;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word;
    overflow: auto;
}

div.mainComments {
    /* background-color: rgb(31, 158, 190); */
    height: 100%;
    width: 35%;
    text-align: center;
}

textarea.mainStands {
    font-family: Arial;
    font-size: 18px;
    width: 95%;
    height: 70%;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
}

div.mainCommentsHead {
    background-color: aqua;
    display: flex;
}

div.mainCommentsList {
    background-color: rgb(0, 174, 255);
    overflow: auto;
}

textarea.mainComments {
    font-family: Arial;
    font-size: 18px;
    width: 400px;
    height: 80px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;

}

textarea.mainComments:focus {
    border: solid 4px black;
}

.sendIcon {
    width: 35px;
    height: 40px;
}

.layoutRender {
    box-sizing: border-box;
}

/* .layoutRender div, */
.layoutRender table,
.layoutRender tr,
.layoutRender th,
.layoutRender td {
    border: solid 1px var(--border-color);
}