div.mainStands {
    /* background-color: aquamarine; */
    height: 100%;
    width: 30%;
    overflow: auto;
}

div.mainStandDescription {
    /* background-color: rgb(207, 252, 102); */
    height: 99%;
    width: 35%;
    text-align: center;
}

div.mainStandLayout {
    /* background-color: rgb(207, 252, 102); */
    height: 70%;
    width: 70%;
    overflow-wrap: break-word;
    overflow: auto;
    text-align: center;
    /*  */
    padding: 5px;
    margin: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
}

div.mainStandLayout ul,
div.mainStandLayout li {
    text-align: left;
    overflow: auto;
}

table {
    font-size: medium;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word;
    overflow: auto;
}

div.mainComments {
    /* background-color: rgb(31, 158, 190); */
    height: 100%;
    width: 35%;
    text-align: center;
}

textarea.mainStands {
    font-family: Arial;
    font-size: 18px;
    width: 95%;
    height: 70%;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;
}

div.mainCommentsHead {
    background-color: aqua;
    display: flex;
}

div.mainCommentsList {
    background-color: rgb(0, 174, 255);
    overflow: auto;
}

textarea.mainComments {
    font-family: Arial;
    font-size: 18px;
    width: 400px;
    height: 80px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: solid 4px #afafaf;
    border-radius: 10px;
    color: black;

}

textarea.mainComments:focus {
    border: solid 4px black;
}

.sendIcon {
    width: 35px;
    height: 40px;
}