div.sources {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.sourcesLeft {
    height: 100%;
    width: 40%;
}

div.sourcesRight {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div.sourcesSetType {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 30%;
}

div.sourcesSetTypeHeader {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 40%;
    width: 100%;
}


div.sourcesHint {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: auto;

}

div.sourcesManageSourceWrapper {
    padding: 10px;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
}

div.sourcesManageSourceWrapper.changeSource {
    height: 70%;
}


div.sourcesManageSource {
    padding: 15px;
    color: var(--text-main-color);
    border: solid 3px var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

div.sourcesManageSourceTopLabel {
    width: 100%;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-main-color);
}



input.manageSource.name {
    width: 40%;
    max-height: 40px;
    /* margin: 10px; */
    box-sizing: border-box;
    flex: 20%;
    padding-left: 10px;
}

textarea.manageSource.description {
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    width: 95%;
    height: auto;
    resize: none;
    box-sizing: border-box;
    flex: 25%;
}

div.changeSourceParams {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.param-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-bottom: 2px solid var(--border-color);
}

.param-key {
    min-width: 220px;
    color: var(--text-secondary-color);
    /* font-weight: bold; */
}


div.sourcesManageSourceButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

div.sourcesNotes {
    box-sizing: border-box;
    overflow: auto;
    height: 70%;
    width: 100%;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

.hintBox {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    border: solid 4px var(--border-color);
    background-color: var(--main-background-color);
    border-radius: 12px;
}

.hintBox h3 {
    margin-top: 0;
}

.hintBox p {
    text-indent: 15px;
    text-align: justify;
}