div.reservations {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 60%;
    overflow: auto;
}

div.reservations::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    margin: 40px;
}

div.reservations::-webkit-scrollbar-thumb {
    background-color: #afafaf;
}

div.plannerFilter {
    margin: 10px;
}

.filterLogo {
    width: 35px;
    vertical-align: middle;
}

.reservationFilter {
    font-family: Arial;
    font-size: large;
    width: 300px;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.clearFilter {
    font-family: Arial;
    font-size: medium;
    width: 100px;
    padding: 8px;
    margin-left: 10px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    cursor: pointer;
}

.clearFilter:focus {
    border: solid 3px #646464;
}

div.newReservation {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

button.newReservation {
    font-family: Arial;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    cursor: pointer;
}

button.newReservation:focus {
    border: solid 3px #646464;
}

div.reservationList{
    margin: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

.form-row label, .form-row input, .form-row select{
    font-family: Arial;
    font-size: large;
    align-items: center;
    flex: auto; 
}

label.startTime {
    text-align: center;
    display: inline-block;
    border: solid 2px #afafaf;
    border-radius: 10px;
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 70px;
    cursor: pointer;
    user-select:none;
}

label.startTime:hover {
    background-color: #646464;
    color: #ffffff;
}

label.selectedStartTime {
    background-color: #4caf50;
    color: #ffffff;
    
}

.form-head {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.reservationParam {
    width: 100px;
    padding: 8px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.reservationParam:disabled {
    background-color: #f1f1f1;
}

.reservationParam:focus {
    border: solid 3px #646464;
}

.reservationSelect {
    width: 340px;
    padding: 8px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.reservationSelect:focus {
    border: solid 3px #646464;
}

.reservationSelect:disabled {
    /* border: solid 3px #afafaf; */
    color: black;
    background-color: #f1f1f1;
}

.reservationLabel {
    display: flex;
    width: 120px;
    padding: 8px;
    vertical-align: middle;
}


div.empty {
    width: 40px;
    height: 20px;
}