div.reservations {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 60%;
    overflow: auto;
    /* background-color: aqua; */
}

div.reservations::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    margin: 40px;
}

div.reservations::-webkit-scrollbar-thumb {
    background-color: #afafaf;
}

div.plannerFilter {
    margin: 10px;
}

.filterLogo {
    width: 35px;
    vertical-align: middle;
}

.reservationFilter {
    font-family: Arial;
    font-size: large;
    width: 300px;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.clearFilter {
    font-family: Arial;
    font-size: medium;
    width: 100px;
    padding: 8px;
    margin-left: 10px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    cursor: pointer;
}

div.newReservation {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

button.newReservation {
    font-family: Arial;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #afafaf;
    border-radius: 10px;
    cursor: pointer;
}

button.newReservation:focus {
    border: solid 3px #646464;
}

div.reservationList{
    margin: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Расстояние между строками */
}

.form-row label, .form-row input, .form-row select{
    font-family: Arial;
    font-size: large;
    flex: 1; /* Равномерно распределяет пространство между элементами */
    margin: 10px 10px; /* Отступы между элементами */
}

.form-head {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.reservationParam {
    width: 450px;
    padding: 8px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.reservationParam:focus {
    border: solid 3px #646464;
}

.reservationLabel {
    width: 40px;
    padding: 8px;
    vertical-align: middle;
}