div.reservations {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 80%;
    overflow: auto;

}
div.reservations::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    margin: 40px;
}

.newReservation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Расстояние между строками */
}
  
.form-row label, .form-row input, .form-row select{
    font-family: Arial;
    font-size: large;
    flex: 1; /* Равномерно распределяет пространство между элементами */
    margin: 10px 10px; /* Отступы между элементами */
}

.reservationParam {
    width: 450px;
    padding: 8px;
    border: solid 3px #afafaf;
    border-radius: 10px;
}

.reservationParam:focus {
    border: solid 3px #646464;
}

.reservationLabel {
    width: 40px;
    padding: 8px;
    vertical-align: middle;
}