.overlayAccept {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241, 241, 241, 0.7);
    z-index: 2000;
}

div.acceptModal {
    border: solid 4px #afafaf;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 2001;
    height: 100px;
    width: 250px;
}

div.acceptModalButtons {
    /* display: inline; */
    align-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
}

div.acceptModalText {
    text-align: center;
    margin: 10px;
    /* width: 100%;
    height: 50%; */
}