.card.sourcesStand {
    box-sizing: border-box;
    user-select: none;
    padding: 10px;
    margin: 20px;
    height: auto;
    width: auto;
    white-space: pre-wrap;
    display: block;
}

p.sourceStandName {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
}

div.sourceCardTop {
    display: block;
    width: 100%;
    text-align: left;
}

p.sourceCardStatusFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    margin-left: 20px;
    color: var(--text-secondary-color);
}

p.sourceCardValueFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

div.sourceStandCardHeader {
    display: block;
    width: 100%;
    text-align: left;
    display: inline;
}

div.sourcesStandCardBottom {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    overflow-wrap: break-word;
}