# backend vars
SECRET_KEY = 'some_secret'
JWT_SECRET_KEY = 'some_jwt_secret'
# Требуется HTTPS, ставить True только в проде
REFRESH_TOKEN_COOKIE_SECURE = False

LDAP_SERVER = 'server_ip'
LDAP_USER = 'user'
LDAP_PASSWORD = 'password'
LDAP_USER_CN = 'CN_parameters'
SEARCH_USER_CATALOG = 'OU_catalog'
SEARCH_BASE = 'DC_base'

CONFLUENCE_BASE_URL = "https://some.confluence.com/rest/api"
CONFLUENCE_API_TOKEN = "SOOooooooOOOME_API_TOOOOOOooKEN"