:root {
    --accent-color: #4CAF50;
    --text-accent-color: #ffffff;

    --hover-color: #6e8399e3;
    --text-hover-color: #ffffff;

    --navbar-color: #f1f1f1;
    --main-background-color: #ffffff;
    --text-main-color: #000000;

    --neutral-button-color: #c0c0c0;
    --text-button-color: #000000;

    --card-background-color: #ffffff;
    --card-background-hover-color: #4caf4f77;
    --card-background-picked-color: #4caf4f18;
    --text-secondary-color: #566474;
    --border-color: #b0b6b8;
    --border-picked-color: #316634;

    --critical-background: #F44336;
    --critical-text-color: #7e1710;
    --warning-background: #e9d25a;
    --warning-text-color: #72620e;
    --info-background: #8aadb8;
    --info-text-color: #122328;
    --positive-background: #63bb66;
    --positive-text-color: #183e1a;

    --strong-text-color: #357237;
    --disabled-color: #b0b6b8;
    --scrollbar-thumb-color: #f1f1f1;
    --scrollbar-thumb-hover-color: #4caf4f7c;
    --scrollbar-thumb-active-color: #4CAF50;
}

p {
    color: var(--text-main-color);
}

h3 {
    color: var(--text-main-color);
}

strong {
    color: var(--strong-text-color);
}

input {
    outline: none;
    font-family: Arial;
    font-size: large;
    background-color: var(--main-background-color);
    color: var(--text-main-color);
    border: solid 2px var(--border-color);
    padding: 4px;
    border-radius: 10px;
}

input:focus {
    border: solid 3px var(--border-picked-color);
}

select {
    outline: none;
    font-family: Arial;
    font-size: large;
    background-color: var(--main-background-color);
    color: var(--text-main-color);
    border: solid 2px var(--border-color);
}

select:focus {
    border: solid 3px var(--border-picked-color);
}

textarea {
    outline: none;
    font-family: Arial;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--main-background-color);
    color: var(--text-main-color);
    border: solid 2px var(--border-color);
}

textarea:focus {
    border: solid 2px var(--border-picked-color);
}


::-webkit-scrollbar {
    width: 15px;
    background-color: var(--main-background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color);
}

.card {
    color: var(--text-main-color);
    cursor: pointer;
    user-select: none;
    padding: 10px;
    margin: 12px;
    height: auto;
    width: auto;
    border: solid 2px var(--border-color);
    border-radius: 12px;
    background-color: var(--main-backgrounds-color);
}

.card:hover {
    background-color: var(--card-background-hover-color);
}

.card.picked {
    border: 3px solid var(--border-picked-color);
    background-color: var(--card-background-picked-color);
    cursor: auto;
}