div.botsMain {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid var(--border-color);
}

div.botsSection {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    border: 1px solid var(--border-color);
}

div.botsSection2 {
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    border: 1px solid var(--border-color);
}

div.logsFilterContainer1 {
    box-sizing: border-box;
    text-align: center;
    height: 5%;
    width: 100%;
    border: 1px solid var(--border-color);
}

div.logsNotes1 {
    box-sizing: border-box;
    /* overflow: auto; */
    height: 95%;
    width: 100%;
    /* border: 1px solid var(--border-color); */
}

.botsContent {
    width: 50%;
    height: 100%;
}

/* -- */
.botsSidebar {
    background-color: var(--navbar-color);
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    min-width: 60px;
    max-width: 250px;
    box-sizing: border-box;
    transition: width 0.2s;
    position: relative;
}

.botsSidebar.collapsed {
    width: 60px;
    /* только иконки */
}

.sidebarToggle {
    position: absolute;
    top: 10px;
    right: -15px;
    width: 30px;
    height: 30px;
    z-index: 10;
}

ul.bots {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botsHref,
.activeBotsHref {
    display: flex;
    align-items: center;
    padding: 10% 10%;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    transition: background-color .2s, color .2s;
}

.botsSidebar.collapsed .botsHref,
.botsSidebar.collapsed .activeBotsHref {
    justify-content: center;
    padding-left: 0;
}

.sidebarIcon {
    font-size: 1.5em;
}

.botsSidebar.collapsed .sidebarIcon {
    margin-right: 0;
}

.botsHref span,
.activeBotsHref span {
    margin-left: .7em;
}

.botsSidebar.collapsed .botsHref span,
.botsSidebar.collapsed .activeBotsHref span {
    display: none;
    /* скрываем текст */
}

.botsHref:hover {
    /* background-color: #6e8399e3; */
    background-color: var(--hover-color);
    /* color: #ffffff; */
    color: var(--text-hover-color);
}