div.baseSidebar {
    background-color: var(--navbar-color);
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 12%;
    box-sizing: border-box
}

div.baseSidebar.collapsed {
    /* background-color: var(--navbar-color); */
    /* float: left; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* height: 100%; */
    width: 60px;
    /* box-sizing: border-box */
}

div.baseContent {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding-left: 1px;
    box-sizing: initial;
    background-color: var(--main-background-color);
    width: 88%;
}

div.baseUserName {
    font-size: 20px;
    margin-right: 10px;

}

nav.baseSidebar {
    width: 100%;
}

ul.base {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.baseHref {
    display: inline-block;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.baseHref:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color);
}


.activeBaseHref {
    background-color: var(--accent-color);
    display: inline-block;
    padding-top: 8%;
    color: var(--text-hover-color);
    padding-bottom: 8%;
    padding-left: 10%;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.activeBaseHref:hover {
    color: var(--text-hover-color);
}


div.baseHeader {
    background-color: var(--navbar-color);
    display: flex;
    width: 100%;
    height: 5%;
    float: right;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

div.baseBody {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

span.baseHeader {
    margin-right: 1%;
    font-size: large;
}

.active {
    background-color: var(--accent-color);
    color: var(--text-hover-color);
}

.randomImage {
    /* width: 200px; */
    width: 150px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    /* height: 200px; */
    /* width: 300px;
    height: 420px; */
}