div.sidebar {
    background-color: #f1f1f1;
    float: left;
    display: flex;
    align-items: stretch;
    height: 95%;
    width: 12%;
}

div.content {
    background-color: red;
    display: flex;
    padding: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

li a {
    display: block;
    color: #000;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 16%;
    padding-right: 35%;
    text-decoration: none;
    width: 100%;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}