@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    /* Начало и конец анимации - элемент полностью прозрачен */
    10% {
        opacity: 1;
    }

    /* Конец процесса появления */
    90% {
        opacity: 1;
    }

    /* Начало процесса исчезновения */
}

div.notification {
    position: fixed;
    top: 90%;
    right: 5%;
    padding: 10px;
    animation-name: fadeInOut;
    animation-duration: 3s;
    /* Общая продолжительность анимации теперь составляет 3 секунды */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /*Это гарантирует, что элемент останется в конечном состоянии анимации*/
    border-radius: 10px;
    z-index: 1001;
}

div.notification.long {
    animation-duration: 10s;
}


div.notification.error {
    color: var(--error-text-color);
    background-color: var(--error-background);
}

div.notification.warning {
    color: var(--warning-text-color);
    background-color: var(--warning-background);
}

div.notification.info {
    color: var(--info-text-color);
    background-color: var(--info-background);
}

div.notification.success {
    color: var(--success-text-color);
    background-color: var(--success-background);
}