[data-theme="dark-purple"] {
    /* Ключевой, самый контрастный цвет приложения */
    --accent-color: #8774e2;
    /* Цвет текста элементов, использующих accent-color как background-color */
    --text-accent-color: #ffffff;

    /* Задний цвет кнопок и ссылок при :hover */
    --hover-color: #a89bdf;
    /* Цвет текста элементов при :hover */
    --text-hover-color: #181828;

    /* Задний цвет навигационной панели */
    --navbar-color: #232136;
    /* Цвет основного заднего фона контента приложения */
    --main-background-color: #181828;
    /* Основной цвет текста приложения */
    --text-main-color: #f3f3fa;

    /* Задний цвет обычных кнопок действий */
    --neutral-button-color: #393552;
    /* Цвет текста обычных кнопок */
    --text-button-color: #f3f3fa;

    /* Цвет заднего фона карточек сущностей */
    --card-background-color: #232136;
    /* Цвет заднего фона карточек при :hover */
    --card-background-hover-color: #8774e21a;
    /* Цвет заднего фона карточки, когда она focused */
    --card-background-picked-color: #8774e218;
    /* Цвет текста в карточках в названиях пунктов */
    --text-secondary-color: #b5b1d8;
    /* Цвет границ карточек и таблиц */
    --border-color: #393552;
    /* Цвет границ карточек и элементов, когда они focused */
    --border-picked-color: #8774e2;

    /* Задний цвет (оттенок красного) кнопок критических предупреждений */
    --critical-background: #d13a3a;
    /* Цвет текста компонентов с фоном critical-color*/
    --critical-text-color: #fff0f0;
    /* Задний цвет (оттенок желтого) немного негативных предупреждений */
    --warning-background: #ffdf7e;
    /* Цвет текста компонентов с фоном warning-color */
    --warning-text-color: #232136;
    /* Задний цвет (оттенок серого или светло-голубого) обычных информационных уведомлений */
    --info-background: #546fe7;
    /* Цвет текста компонентов с фоном info-color */
    --info-text-color: #e6e6fa;
    /* Задний цвет (оттенок зеленого) положительных уведомлений и кнопок подтверждения */
    --positive-background: #49b67d;
    /* Цвет текста компонентов с фоном positive-color */
    --positive-text-color: #18281a;

    /* Цвет жирного текста */
    --strong-text-color: #bcb6f6;
    /* Цвет disabled элементов */
    --disabled-color: #393552;
    /* Обычный цвет ползунка скроллбара */
    --scrollbar-thumb-color: #393552;
    /* Цвет ползунка скроллбара при наведении */
    --scrollbar-thumb-hover-color: #8774e277;
    /* Цвет ползунка скроллбара при взаимодействии */
    --scrollbar-thumb-active-color: #8774e2;
}