* {
    box-sizing: inherit;
}

button {
    border: 0;
    cursor: pointer;
    user-select: none;
}

button.login {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
}


button.logout {
    width: 6%;
    height: 100%;
    margin-left: 10px;
    color: #000;
    font-size: large;
    display: inline-block;
    text-align: center;
}


button.userChange {
    font-family: Arial;
    font-size: medium;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: #4caf50;
    width: 150px;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 6px;
}

button.createUser {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    /* display: block; */
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 230px;
    height: 30px;
    color: #000000;
    border-radius: 10px;
}

button.projectAccept {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 8em;
    height: 2em;
    color: #FFFFFF;
    border-radius: 10px;
}

button.projectReject {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #ff2020;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
}

button.projectClose {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 8em;
    height: 2em;
    color: #000000;
    border-radius: 10px;
}

button.userDelete {
    font-family: Arial;
    font-size: medium;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: #ff2020;
    width: 150px;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

button.reservationAdd {
    font-family: Arial;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.reservationExit {
    font-family: Arial;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #ff2020;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.clearFilter {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 8em;
    height: 2em;
    color: #000000;
    border-radius: 10px;
}

button.logsDownload {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 100px;
    height: 30px;
    color: #000000;
    border-radius: 10px;
    margin-left: 10px;
}

button.logsCardClose {
    text-align: center;
    user-select: none;
    font-family: Arial;
    font-size: 16px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #ffbbbb;
    width: 40px;
    height: 20px;
    color: #000000;
    border-radius: 10px;
}

button.sourcesSetType {
    user-select: none;
    font-family: Arial;
    font-size: 18px;
    margin: 12px;
    background: #c0c0c0;
    width: 240px;
    height: 30px;
    color: #000000;
    border-radius: 10px;
}

button.sourcesSetTypeActive {
    user-select: none;
    font-family: Arial;
    font-size: 18px;
    margin: 12px;
    background: #4CAF50;
    width: 240px;
    height: 30px;
    color: #ffffff;
    border-radius: 10px;

}

button.sourcesCardDelete {
    text-align: center;
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #ffbbbb;
    width: 100px;
    height: 24px;
    color: #000000;
    border-radius: 10px;
}

button.sourcesCardClose {
    text-align: center;
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 100px;
    height: 24px;
    color: #000000;
    border-radius: 10px;
}


button.modalAccept {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
    background: #4CAF50;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
}

button.modalReject {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
    background: #ff2020;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
}

button.showHint {
    user-select: none;
    font-family: Arial;
    font-size: 22px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 25px;
    height: 25px;
    color: #000000;
    border-radius: 10px;
}

button.showHintActivated {
    user-select: none;
    font-family: Arial;
    font-size: 22px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #4CAF50;
    width: 25px;
    height: 25px;
    color: #ffffff;
    border-radius: 10px;
}

button:hover {
    background-color: #6e8399e3;
    color: white;
}