# имя или ip адрес хоста с основным приложением без указания протокола
MAIN_APP_HOST = "sp-backend"
MAIN_APP_PORT = "5000"

# имя или ip адрес хоста с redis без указания протокола
REDIS_HOST = "sp-redis"
REDIS_PORT = "6379"

ROCKET_BASE_URL = "https://rocket_chat.example.com"
ROCKET_USER_ID = "RocketChatUserId"
ROCKET_USER_TOKEN = "RocketChatUserToken"
ROCKET_VERIFY_SERVER_CERT = True