.sourceCard {
    color: var(--text-main-color);
    padding: 10px;
    cursor: pointer;
    /* border: solid 2px #b0b6b8; */
    border: solid 2px var(--border-color);
    border-radius: 12px;
    margin: 10px;
    height: 55px;
    /* background-color: #f5f7fa; */
    background-color: var(--main-backgrounds-color);
}

.sourceCard:hover {
    background-color: var(--card-background-hover-color);
}

.sourceCardPicked {
    color: var(--text-main-color);
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    border: 3px solid var(--border-picked-color);
    border-radius: 12px;
    margin: 10px;
    height: auto;
    background-color: var(--card-background-picked-color);
    position: relative;
}


p.sourceCardName {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--text-main-color);
}

div.sourceCardTop {
    display: block;
    width: 100%;
    text-align: left;
}

div.sourceCardMiddle {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

div.sourceCardStatus {
    display: inline;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
}

p.sourceCardStatusFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    margin-left: 20px;
    color: var(--text-secondary-color);
}

p.sourceCardValueFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

p.sourceCardVersionFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

div.sourceCardButtons {
    /* display: inline; */
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 16px
}