div.card.source {
    box-sizing: border-box;
    padding: 10px;
    /* margin: 10px; */
    /* height: 55px; */
    height: auto;
    width: 90%;
}

p.sourceCardName {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--text-main-color);
}

div.sourceCardTop {
    display: block;
    width: 100%;
    text-align: left;
}

div.sourceCardMiddle {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    overflow-wrap: break-word;
}

/* div.sourceCardStatus {
    display: inline;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
} */

p.sourceCardStatusFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    margin-left: 20px;
    color: var(--text-secondary-color);
}

p.sourceCardValueFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

div.paramValue {
    display: inline;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    border-radius: 1em;
}

p.sourceCardVersionFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

p.sourceCardUpdateFaded {
    display: inline;
    /* color: rgba(0, 0, 0, 0.61); */
    color: var(--text-secondary-color);
}

div.sourceCardButtons {
    /* display: inline; */
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 16px
}

div.sourceCardButtons.header {
    margin-bottom: 10px;
}